.need{
  overflow: scroll;
  height: 50vh;
}

.btn.btn1{
  background: #1670f0;
  border-radius: 10px;
  color: #fff;
}
.btn.btn2{
  background: blueviolet;
  border-radius: 15px;
  color: #fff;
}
.btn.btn3{
  background: orangered;
  border-radius: 15px;
  color: #fff;
}
.btn.btn4{
  background: blue;
  border-radius: 15px;
  color: #fff;
}
.btn.btn5{
  background: green;
  border-radius: 15px;
  color: #fff;
}
#bt{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .my{
    background-repeat: no-repeat;
    animation: move 2s linear forwards;
 }
 @keyframes move {
  0%{transform:translateX(-200%);}
}
.section{
  height: 100vh
}